.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}
.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}
.contraste-alto {
    background-color: black !important;
    color: white !important;
    border-color: yellow !important;
}
.fa-x-twitter {
    color: #000000;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}