.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}
.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}
.contraste-alto {
    background-color: black !important;
    color: white !important;
    border-color: yellow !important;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background: white;
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    width: 100%;
}

footer .container-fluid {
    padding: 0;
}
footer .border-top {
    border-color: rgba(255,255,255,0.1) !important;
}