.carousel-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  width: 100vw; 
  background: url('/public/images/cidade3.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}.carousel-left {
  position: relative;
  width: 600px;
  height: 503px;
  background-color: #fff; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}.carousel-container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
}


.carousel-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('/images/bg-carrossel.jpg') center center / cover no-repeat;
  z-index: 0;
  filter: brightness(0.3) hue-rotate(180deg); 
}

.carousel-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 12, 190, 0.5);
  z-index: 1;
}

.carousel-left,
.carousel-right {
  position: relative;
  z-index: 2;
}


.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-right {
  max-width: 500px;
  flex: 1;
}

.carousel-right h2 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.carousel-right p {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
}
