/* src/components/Header.css */

header {
    width: 100%;
    border-bottom: 1px solid #0063c5;
}

.header-container {
    margin: 0;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-principal {
    margin: 0;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.header-logo {
    width: auto;
    height: 10vh; 
    max-height: 100px; 
    object-fit: contain;
}

.header-logo img {
    width: auto;
    height: 100px;
    object-fit: contain;
}

.sine-logo {
    flex: 0 0 50%;
    max-width: fit-content;
    margin-inline: 20px;
}

.sine-logo img {
    width: auto;
    height: 10vh;
    max-height: 100px;
}

.header-titles {
    margin-left: 15px;
    max-width: max-content;
}

.header-titles > p {
    text-align: center;
}

.header-titles h1 {
    font-size: clamp(1.5rem, 2vw, 2rem); 
    font-weight: 600;
    color: #333;
    margin-bottom: 0.4rem;
}

.header-titles p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: #666;
    margin: 0;
}