/* src/components/Header.css */
header {
    border-top: none !important;
    border-bottom: 1px solid #0063c5;
    width: 100%;
}

.header-container {
    margin: 0;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-principal {
    margin: 0;
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.header-logo {
    flex: 0 0 25%;
    max-width: fit-content;
    margin-inline: 20px;
}

.header-logo img {
    width: auto;
    height: 100px;
    object-fit: contain;
}

.sine-logo {
    flex: 0 0 50%;
    max-width: fit-content;
    margin-inline: 20px;
}

.sine-logo img {
    width: 300px;
    height: 100px;
}

.header-titles {
    flex: 1;
    max-width: max-content;
}

.header-titles > p {
    text-align: center;
}

.header-titles h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.4rem;
}

.header-titles p {
    font-size: 1.25rem;
    color: #666;
    margin: 0;
}