@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0; 
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  margin: 0;
}

main {
  flex: 1;
}

/* .content {
  margin: 0;
  flex: 1;
  min-width: 100%;
  padding: 0;
} */
